.number-display {
    font-size: 4em;
    margin: 20px 0;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-input {
    background-color: #000;
    color: white;
    border: 2px solid #3c3c3c;
    padding: 8px 16px;
    border-radius: 13px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.2em;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.number-input:focus {
    outline: none;
    border-color: white;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input[type=number] {
    -moz-appearance: textfield;
}